        
        h2 {
            color: rgb(7, 255, 23);
        }  
        
        body {
            background-color: rgb(247, 233, 218);
           
        }
            
h1 {
    color:rgb(122, 151, 177)
    
}

h1{ font-family: Lucida Console, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

#about_me_paragraph{
width: 750px;

}

p {font-family: Lucida Console, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}