        
        h2 {
            color: rgb(7, 255, 23);
        }  
        
        body {
            background-color: rgb(212, 195, 177);
           
        }
            
h1 {
    color:rgb(44, 157, 255)
    
}

h1{ font-family: Lucida Console, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

#about_me_paragraph{
width: 800px;

}

p {font-family: Lucida Console, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}